div.jumbotron
 	height: 400px
div.jumbotron.Adventure
	background-image: url('assets/img/adventure.png')
div.jumbotron.Comedy
	background-image: url('assets/img/comedy.png')
div.jumbotron.Thriller
	background-image: url('assets/img/thriller.png')
div.jumbotron.Romance
	background-image: url('assets/img/romance.png')
div.jumbotron.Horror
	background-image: url('assets/img/horror.png')
div.jumbotron.Animation
	background-image: url('assets/img/animation.png')
div.jumbotron.Family
	background-image: url('assets/img/family.png')
div.jumbotron.Action
	background-image: url('assets/img/action.png')