<section class="homeSlider">

<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
      <!-- first page carousel-->
        <div class="item active">
          <img ng-src="{{ vm.imgNowPlaying }}" class="figure-img img-fluid first-slide" alt="first">
<!--           <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>Now Playing</h1>
              <a ng-href="">
                <p>{{ vm.titleNowPlaying }}</p>
              </a>
              <p>{{ vm.descNowPlaying }}</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">More Recent</a></p>
            </div>
          </div>
        </div>
        <!-- second page carousel-->
        <div class="item">
            <img ng-src="{{ vm.imgGetPopular }}" class="figure-img img-fluid second-slide" alt="second">

<!--           <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>Most Popular</h1>
              <a ng-href="">
                <p>{{ vm.titleGetPopular }}</p>
              </a>
              <p>{{ vm.descGetPopular }}</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">More Popular</a></p>
            </div>
          </div>
        </div>
        <!-- third page carousel-->
        <div class="item">
          <img ng-src="{{ vm.imgTopRated }}" class="figure-img img-fluid" alt="third">
<!--           <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>Top Rated</h1>
              <a ng-href="">
                <p>{{ vm.titleTopRated }}</p>
              </a>
              <p>{{ vm.descTopRated }}</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">More TopRated</a></p>
            </div>
          </div>
        </div>
      </div> <!-- end of carousel item pages-->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


</section>

<section class="homeCategories">
	<div class="container" ng-controller="CategoryHomeController as catHomCtrl">
		<div class="row">
			<div class="col-md-3" ng-repeat="category in catHomCtrl.categoriesOne">
				<a ng-href="#!/category/{{category.id + category.name}}" ><img src="" alt="">{{category.name}}</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" ng-repeat="category in catHomCtrl.categoriesTwo">
				<a ng-href="#!/category/{{category.id + category.name}}" ><img src="" alt="">{{category.name}}</a>
			</div>
		</div>
	</div>
</section>