<!-- JUMBOTRON -->

<div class="jumbotron">
	<div class="container">
		<h1>{{vm.categoryName}}</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi sequi quia possimus iusto ex porro error, aliquid, architecto unde temporibus.</p>
	</div>
</div>

<!-- SEARCH NAV -->

<div class="row">
	<div class="col-md-3">
		<form action="" method="POST" class="form-inline" role="form">
			<div class="row">
				<div class="col-md-9">
					<div class="form-group">
						<label class="sr-only" for="">label</label>
						<input type="text" class="form-control" ng-model="query" id="" placeholder="Search a movie">
					</div>
				</div>
				<div class="col-md-3">			
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-9">
		<div class="navbar">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#!/category/{{vm.categoryName}}/popular">Popular</a>
					</li>
					<li>
						<a href="#!/category/{{vm.categoryName}}/upcoming">Upcoming</a>
					</li>
					<li>
						<a href="#!/category/{{vm.categoryName}}/latest">Latest</a>
					</li>
					<li>
						<a href="#!/category/{{vm.categoryName}}/toprated">Top Rated</a>
					</li>
					<li>
						<a href="#!/category/{{vm.categoryName}}/nowplaying">Now Playing</a>
					</li>				
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- MOVIE RESULTS -->

<div class="container">
	<div class="row">
		<ul class="list-inline">
			<li ng-repeat="movie in vm.movies | filter: {title :  query}">
			    <div class="hovereffect">
			        <img class="img-responsive" src="{{vm.moviePrePath + movie.poster_path}}" alt="">
			        <div class="overlay" id="myModal{{$index}}" >
			            <h4>{{movie.title}}</h4>
						<p> 
							<a ng-href="#!/info_movie/{{movie.id + movie.title}}">VIEW MOVIE</a>
						</p> 
			        </div>
			    </div>
			</li>
		</ul>
	</div>
</div>		