/* line 1, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_nav.sass */
.navbar {
  background-color: #2F2F2F;
  border-radius: 0px;
  height: 80px;
  border: none;
}

/* line 7, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_nav.sass */
.navbar h3 {
  margin-top: 7px;
  font-family: open sans;
  color: #ffffff;
  font-weight: 600;
}

/* line 13, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_nav.sass */
.navbar span {
  color: #FFFF91;
}

/* line 1, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_carousel.sass */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  background-image: url("./assets/img/banner.GIF");
}

/* line 5, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_carousel.sass */
.carousel-caption {
  z-index: 10;
}

/* line 7, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_carousel.sass */
.carousel .item {
  height: 500px;
  background-color: #777;
}

/* line 10, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_carousel.sass */
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* line 16, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_carousel.sass */
.carousel-caption p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4;
}

/* line 1, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_categoriesHome.sass */
.homeCatBox {
  height: 200px;
  width: 280px;
  background-color: #2F2F2F;
  color: #FFFF91;
  border: 1px solid black;
  margin-bottom: 50px;
}

/* line 8, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_categoriesHome.sass */
.homeCatBox h4 {
  position: relative;
  margin: 0px auto;
  top: 43%;
}

/* line 12, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_categoriesHome.sass */
body > div:nth-child(2) > div.ng-scope > section.homeCategories.ng-scope > div > div:nth-child(1) > div:nth-child(1) > a > div {
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--CwbU9P32--/c_scale,fl_progressive,q_80,w_800/mrpmjtrph4yimi7zmqfw.jpg");
}

/* line 14, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_categoriesHome.sass */
body > div:nth-child(2) > div.ng-scope > section.homeCategories.ng-scope > div > div:nth-child(1) > div:nth-child(2) > a > div {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/1b/fc/0f/1bfc0f485cabf550376fa0623b46a3ca.jpg");
}

/* line 16, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_categoriesHome.sass */
body > div:nth-child(2) > div.ng-scope > section.homeCategories.ng-scope > div > div:nth-child(1) > div:nth-child(3) > a > div {
  background-image: url("http://kissfm.emisorasunidas.com/sites/default/files/imagecache/interior/images/e-t.jpg");
}

/* line 18, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_categoriesHome.sass */
body > div:nth-child(2) > div.ng-scope > section.homeCategories.ng-scope > div > div:nth-child(1) > div:nth-child(4) > a > div {
  background-image: url("http://coo.tuvotacion.com:81/imagenes_unicas/cine-de-terror-que-pelicula-te-impacto-14450.jpg");
}

/* line 20, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_categoriesHome.sass */
body > div:nth-child(2) > div.ng-scope > section.homeCategories.ng-scope > div > div:nth-child(2) > div:nth-child(1) > a > div {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/07/bc/3a/07bc3a5552fa9d51f014d507e2d95207.jpg");
}

/* line 22, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_categoriesHome.sass */
body > div:nth-child(2) > div.ng-scope > section.homeCategories.ng-scope > div > div:nth-child(2) > div:nth-child(2) > a > div {
  background-image: url("http://bollyspice.com/wp-content/uploads/2012/10/12oct_Amitabh70BirthdayFilms11.jpg");
}

/* line 24, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_categoriesHome.sass */
body > div:nth-child(2) > div.ng-scope > section.homeCategories.ng-scope > div > div:nth-child(2) > div:nth-child(3) > a > div {
  background-image: url("http://precriticas.s3.amazonaws.com/archivos_imagenes_peliculas_r_RareExportsaChristmastale.jpg");
}

/* line 26, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_categoriesHome.sass */
body > div:nth-child(2) > div.ng-scope > section.homeCategories.ng-scope > div > div:nth-child(2) > div:nth-child(4) > a > div {
  background-image: url("http://www.macdowells.com/wp-content/uploads/2016/02/13-couple-350x280.jpg");
}

/* line 1, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}

/* line 11, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

/* line 25, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* line 33, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

/* line 40, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffect:hover img {
  filter: url('data:image/svg+xmlcharset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

/* line 46, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffect h4 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* line 62, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* line 73, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h4 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 80, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffectHome {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #42b078;
  margin-bottom: 50px;
}

/* line 92, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffectHome .overlayHome {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

/* line 102, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffectHome img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 115, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffectHome:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 122, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffectHome h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

/* line 133, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffectHome h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 147, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffectHome:hover h2:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 152, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffectHome a, .hovereffectHome p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 162, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffectHome:hover a, .hovereffectHome:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 168, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_hoverImg.sass */
.hovereffectHome {
  margin-bottom: 50px;
  cursor: pointer;
}

/* line 1, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_footer.sass */
footer {
  background-color: #2F2F2F;
  border-radius: 0px;
  height: 50px;
  color: white;
  border: 1px solid black;
}

/* line 8, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/_footer.sass */
footer p {
  margin-top: 15px;
}

/* line 7, C:/Users/ezequ/Documents/SkyLab/projects/theMovieHub/assets/sass/style.sass */
body {
  background-color: #BDC4A7;
}

/*# sourceMappingURL=../css/style.map */