<!-- JUMBOTRON -->

<img class="img-responsive" ng-src="https://bijay007.github.io/theMovieHub/assets/img/{{ vm.categoryName | lowercase }}.png" alt="">

<!-- SEARCH NAV -->

<div class="container">
  <div class="row filters">

    <input type="text" class="form-control input-lg" ng-model="query" placeholder="Filter movies by typing a name...">

    <ul class="list-inline by-category">
      <li>
        <strong>Filter by Category: </strong>
      </li>
      <li>
        <label>
            <input value="popular" type="radio" name="category">
            <span>Popular</span>
        </label>
      </li>
      <li>
        <label>
            <input value="latest" type="radio" name="category">
            <span>Latest</span>
        </label>
      </li>
      <li>
        <label>
            <input value="upcoming" type="radio" name="category">
            <span>Upcoming</span>
        </label>
      </li>
      <li>
        <label>
            <input value="toprated" type="radio" name="category">
            <span>Top Rated</span>
        </label>
      </li>
      <li>
        <label>
            <input value="nowplaying" type="radio" name="category">
            <span>Now Playing</span>
        </label>
      </li>
    </ul>
  </div>


</div>

<!-- MOVIE RESULTS -->

<div class="container">
  <div class="row">
    <ul class="list-inline">
      <li ng-repeat="movie in vm.movies | filter: {title :  query}">
          <div class="hovereffect">
              <img class="img-responsive" src="{{vm.moviePrePath + movie.poster_path}}" alt="">
              <div class="overlay" id="myModal{{$index}}" >
                  <h4>{{movie.title}}</h4>
            <p>
              <a ng-href="#!/info_movie/{{movie.id + movie.title}}">VIEW MOVIE</a>
            </p>
              </div>
          </div>
      </li>
    </ul>
  </div>
</div>
